<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <conversionRule
            conversionWord="highlight2"
            converterClass="tw.xserver.loader.logger.HighlightingCompositeConverter"
    />

    <appender name="CONSOLE" class="tw.xserver.loader.logger.JLineAppender"/>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>[%d{MM-dd HH:mm:ss.SSS}] %5level | %-65(%logger{50}.%M{10}:%line{4}) -> %msg%n</pattern>
            <charset>utf-8</charset>
        </encoder>
        <file>log/output.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>log/output.log.%i</fileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>1MB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>